<div class="container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">


        <mat-form-field class="form-element">
            <input matInput placeholder="CF" formControlName="cf" (change)="selectChangeHandler($event.target.value)">
          </mat-form-field>

          <br>

        <mat-form-field>
            <mat-select  [attr.data-name]="'provincia'" [formControlName]="'provincia'" placeholder="select provincia"  (ngModelChange)="onSelectProv($event)">
              <mat-option *ngFor="let type of provinces" [value]="type">
                {{type.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

<br>
        <mat-form-field>
            <mat-select  [attr.data-name]="'comune'" [formControlName]="'comune'" placeholder="select comune"  >
              <mat-option *ngFor="let com of comuni" [value]="com">
                {{com.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>





      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>

    </form>
  </div>
