

     <form [formGroup]="formGroup"(ngSubmit)="onSubmit(formGroup.value)" >

        <div class="row">
          <div class="col-12">
              <mat-form-field class="form-element">
                <span>Input</span>
                  <input matInput   formControlName = "input">
                  <mat-error>
                    <span >input is invalid</span>
                  </mat-error>
                </mat-form-field>
          </div>

        </div>
         <div><button type="submit" [disabled]="!formGroup.touched" >Prosegui</button></div>
      </form>
