

     <form [formGroup]="formGroup"(ngSubmit)="onSubmit(formGroup.value)" >

        <div class="row">
            <div class="col-12">
              <p [ngClass]="{'red': wrongTest1===true, 'green': wrongTest1===false}">Quattro o piu cifre crescenti o decrescenti</p>
            </div>
       </div>
       <div class="row">
          <div class="col-12">
            <p [ngClass]="{'red': wrongTest2===true, 'green': wrongTest2===false}">Quattro o piu cifre uguali consecutive</p>
          </div>
     </div><div class="row">
        <div class="col-12">
          <p [ngClass]="{'red': wrongTest3===true, 'green': wrongTest3===false}">La propria data di nascita</p>
        </div>
   </div>
        <div class="row">
          <div class="col-12">
              <mat-form-field class="form-element">
                <span>Input</span>
                  <input matInput maxlength=6 formControlName = "input" (keyup)="control(formGroup.value)">
                  <mat-error>
                    <span >input is invalid</span>
                  </mat-error>
                </mat-form-field>
          </div>

        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-element">
                  <span>Input</span>
                    <input matInput maxlength=6 formControlName = "pin" (keyup)="controlPin(formGroup.value)" >

                  </mat-form-field>
            </div>
            <div class="row" *ngIf="wrongPin===true">
                <div class="col-12">
                  <p class="red">Pin errato</p>
                </div>
           </div>
          </div>
         <div><button type="submit"  [disabled]="!(wrongPin===false)">Prosegui</button></div>
      </form>
